Repository tonyghiani/mnt: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

docs(root): ✏️ update README
  package.json
Due: yarn workspaces run lint:package

feat(react-mnt): 🎸 add first mvp
  packages/react-mnt/.eslintrc.json
  packages/react-mnt/README.md
  packages/react-mnt/jest.config.ts
  packages/react-mnt/package.json
  packages/react-mnt/src/index.test.tsx
  packages/react-mnt/src/index.tsx
  packages/react-mnt/tsconfig.json
  packages/react-mnt/tsconfig.types.json
  packages/react-mnt/vite.config.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

feat(react-props-check): 🎸 add first mvp
  packages/react-props-check/.eslintrc.json
  packages/react-props-check/README.md
  packages/react-props-check/jest.config.ts
  packages/react-props-check/package.json
  packages/react-props-check/src/index.test.ts
  packages/react-props-check/src/index.ts
  packages/react-props-check/src/react_props.ts
  packages/react-props-check/tsconfig.json
  packages/react-props-check/tsconfig.types.json
  packages/react-props-check/vite.config.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

chore(root): 🤖 update config
  package.json
  tsconfig.json
  yarn.lock
Due: yarn workspaces run lint:package

docs(root): ✏️ update docs
  README.md
  assets/mnt_logo.png
  assets/mnt_logo.svg
  packages/react-mnt/src/index.test.tsx
  packages/react-mnt/src/index.tsx
  packages/react-props-check/README.md
  packages/react-props-check/src/index.ts
Due: yarn workspaces run lint --fix, prettier --write --ignore-unknown

docs(react-props-check): ✏️ update badged
  packages/react-props-check/README.md
Due: prettier --write --ignore-unknown

docs(react-props-check): ✏️ fix badge
  packages/react-props-check/README.md
Due: prettier --write --ignore-unknown

docs(react-props-check): ✏️ update badges position
  packages/react-props-check/README.md
Due: prettier --write --ignore-unknown

refactor(react-mnt): 💡 update types naming
  packages/react-mnt/src/index.test.tsx
  packages/react-mnt/src/index.tsx
Due: yarn workspaces run lint --fix, prettier --write --ignore-unknown

docs(react-mnt): ✏️ add Readme
  packages/react-mnt/README.md
  packages/react-mnt/src/index.tsx
Due: yarn workspaces run lint --fix, prettier --write --ignore-unknown

docs(root): ✏️ update images
  README.md
  assets/mnt_logo_wide.png
  assets/mnt_logo_wide.svg
  packages/react-props-check/README.md
Due: prettier --write --ignore-unknown

chore(root): 🤖 update dependencies
  package.json
  packages/react-mnt/package.json
  packages/react-props-check/package.json
  packages/react-props-check/vite.config.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

feat(root): 🎸 add CI
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
Due: prettier --write --ignore-unknown

chore(root): 🤖 bump dependencies
  package.json
  packages/react-mnt/package.json
  yarn.lock
Due: yarn workspaces run lint:package

chore(release): publish new release(s) [skip ci]
  packages/react-mnt/CHANGELOG.md
  packages/react-mnt/package.json
  packages/react-props-check/CHANGELOG.md
  packages/react-props-check/package.json
Due: yarn workspaces run lint:package, prettier --write --ignore-unknown

chore(root): 🤖 bump version
  package.json
Due: yarn workspaces run lint:package

chore(root): 🤖 update CI actions
  .github/workflows/release.yml
Due: none

feat(root): 🎸 bump version
  package.json
  packages/react-mnt/package.json
  packages/react-props-check/package.json
Due: yarn workspaces run lint:package

chore(root): 🤖 upgrade dependencies and build
  package.json
  packages/react-mnt/package.json
  packages/react-mnt/vite.config.ts
  packages/react-props-check/vite.config.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

chore(root): 🤖 upgrade exports
  packages/react-mnt/package.json
  packages/react-mnt/src/index.tsx
  packages/react-props-check/package.json
  packages/react-props-check/src/index.ts
  packages/react-props-check/vite.config.ts
  tsconfig.settings.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

chore(root): 🤖 add update deps script
  package.json
  packages/react-mnt/package.json
  packages/react-props-check/package.json
  yarn.lock
Due: yarn workspaces run lint:package

chore(root): 🤖 update lock file
  yarn.lock
Due: none

chore(root): 🤖 update deps
  package.json
  packages/react-mnt/package.json
  packages/react-mnt/src/index.tsx
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

fix(react-mnt): 🐛 update component type
  packages/react-mnt/src/index.tsx
  tsconfig.settings.json
Due: yarn workspaces run lint --fix, prettier --write --ignore-unknown

refactor(react-mnt): 💡 enable css properties
  .gitignore
  lerna.json
  nx.json
  package.json
  packages/react-mnt/package.json
  packages/react-mnt/src/css.ts
  packages/react-mnt/src/index.test.tsx
  packages/react-mnt/src/index.tsx
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

fix(react-mnt): 🐛 forward props to custom components to AS
  packages/react-mnt/src/index.test.tsx
  packages/react-mnt/src/index.tsx
Due: yarn workspaces run lint --fix, prettier --write --ignore-unknown

chore(root): 🤖 bump dependencies
  package.json
  packages/react-mnt/package.json
  packages/react-props-check/package.json
  yarn.lock
Due: yarn workspaces run lint:package

fix(react-mnt): 🐛 add "as" to base properties
  packages/react-mnt/src/index.tsx
Due: yarn workspaces run lint --fix, prettier --write --ignore-unknown

fix(react-mnt): 🐛 add missing ref to types
  packages/react-mnt/src/index.test.tsx
  packages/react-mnt/src/index.tsx
Due: yarn workspaces run lint --fix, prettier --write --ignore-unknown

chore(root): 🤖 update deps, react v19
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  .lintstagedrc.mjs
  .nx/workspace-data/05223671-2BE3-56B9-B871-42EEFD502BD8.db
  .nx/workspace-data/05223671-2BE3-56B9-B871-42EEFD502BD8.db-shm
  .nx/workspace-data/05223671-2BE3-56B9-B871-42EEFD502BD8.db-wal
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .vscode/settings.json
  commitlint.config.mjs
  eslint.config.mjs
  package.json
  packages/react-mnt/.eslintrc.json
  packages/react-mnt/eslint.config.mjs
  packages/react-mnt/package.json
  packages/react-mnt/src/index.tsx
  packages/react-mnt/vite.config.mts
  packages/react-props-check/.eslintrc.json
  packages/react-props-check/eslint.config.mjs
  tsconfig.settings.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint --fix, prettier --write --ignore-unknown

chore(root): 🤖 update build files
  .gitignore
  .nx/workspace-data/05223671-2BE3-56B9-B871-42EEFD502BD8.db
  .nx/workspace-data/05223671-2BE3-56B9-B871-42EEFD502BD8.db-shm
  .nx/workspace-data/05223671-2BE3-56B9-B871-42EEFD502BD8.db-wal
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  packages/react-props-check/vite.config.mts
Due: none

Path conditions:
  yarn workspaces run lint:package: any of: package.json
  yarn workspaces run lint --fix: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{js,ts,tsx,md}
